.image-responsive{
  width: 100%;
  height: 500px;
  max-height: 500px;
}
.col-md-10{
  font-family: 'Srisakdi', cursive;
}
.p{font-family: 'Roboto', sans-serif;

}
.h1{
  font-family: 'Srisakdi', cursive;
}
