
.image-responsive{
  width: 100%;
  height: 500px;
  max-height: 500px;
}
.col-md-10{align-items: center;
  font-family: 'Srisakdi', cursive;
  padding:2px;
  margin: auto;
}
p{
  font-size: 2em;
}
.name{
  text-align: center;
  color: Green;
  font-family: 'Srisakdi', cursive;
  text-decoration: underline;
  font-size: 5em;
}
.name2{
  color: #FF7417;
  font-family: 'Srisakdi', cursive;
  text-align: center;
  font-size: 3em;
}
.location{
  color: white;
  padding: 2%;
}
.well,#well {
  min-height: 20px;
  padding: 2%;
  margin-bottom: 20px;
  background-color:#FEBF6E;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.text-info{
  text-align: center;
}
.container{
  font-size: 25px;
  font-weight: 500;
}
.col-sm-12{
  padding:12px 50px 0px 50px;
}
#body{
  background-image: url("../images/pic.jpg");
  background-attachment: fixed;
  background-size: cover;
}
