.nav{
  background-color: orange;
}
.navbar{
  clear: both;
  display: none;
}
.navbar:hover{
  background-color: brown;
}
.right{
  float: right;
}
#top{
  position:fixed;
  width: 100%;
}
#second{
  height: 300px;
}
#logo{
  padding-top: 150px;
  font-size: 50px;
  color: #ABD7E6;
  font-family: Srisakdi;
}
#startParallax{
  height: 460px;
  background-image: url("../images/pexels-photo-277253.jpeg");
  background-position:top;
  overflow: inherit;
  position: inherit;
}
#display{
  font-size: 30px;
}
#myCarousel{
  height: 300px;
}
@media screen and (max-width:800px){
  .nav{
    display: block;
  }
  #top{
    background-color: orange;
  }
}
